@page "/AddItem"
@using Entities.Models
@using Blazor.Data

@inject IItemHandler _itemsHandler
@inject ILocationHandler _locationsHandler
@inject IItemLocationHandler _itemLocationHandler
@inject NavigationManager _navigationManager

@inject DialogService DialogService


<h2>Add an Item to a Location</h2>
<p></p>
@if (_locations == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="col-xl-10">
            <div class="row">
                <div class="col-xl-6 mb-5">
                    <h5>Registered Items</h5>
                    <RadzenDropDownDataGrid TValue="Item" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains"
                                            AllowFiltering="true" AllowClear="true" PageSize="15" Placeholder="Select"
                                            Data="@_items" TextProperty="ItemName" Change=@(args => OnChange(args, "Item")) Style="width:100%"
                                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Id" Title="Item Id"/>
                            <RadzenDropDownDataGridColumn Property="ItemName" Title="Item Name"/>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 mb-5">
                    <h5>Registered Locations</h5>
                    <RadzenDropDownDataGrid TValue="Location" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains"
                                            AllowFiltering="true" AllowClear="true" PageSize="10" Placeholder="Select"
                                            Data="@_locations" TextProperty="Description" Change=@(args => OnChange(args, "Location")) Style="width:100%"
                                            ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Id" Title="Description Id"/>
                            <RadzenDropDownDataGridColumn Property="Description" Title="Description"/>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-5">
                    <h5>Amount</h5>
                    <RadzenNumeric TValue="int" @bind-Value="@_itemLocation.Amount"></RadzenNumeric>
                </div>
                <div class="col-md-4 mb-5">
                    <h5>Add to location</h5>
                    <RadzenButton Icon="save" Text="Save" Click=@(args => DialogService.Confirm("Are you sure you want to add this item to this location?",
                                                                    "Save", new ConfirmOptions() {OkButtonText = "Yes", CancelButtonText = "No"})) />
                </div>
            </div>
        </div>
    </div>
}

