@page "/CreateOrder"
@using Blazor.Data
@using Entities.Models
@using ItemLocationSelectorComponent
@inject IOrderHandler _orderHandler
@inject NavigationManager _navigationManager
@inject NotificationService _notificationService
@inject GlobalNotificationService _globalNotificationService
<h3>CreateOrder</h3>

<RadzenTemplateForm class="RegisterForm" TItem="Order" Data="@_order" Submit="@CreateNewOrder">
    <div class="row">
        <div class="col-md-5">
            <RadzenFieldset Text="Item Information">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Item Name"/>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>

                <ItemLocationSelector ShowLocationDetail="false" ShowItemDetails="true"
                                      InventoryChange="InventoryChanged" AmountChange="AmountChanged"/>

                <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                    <RadzenButton class="Button" ButtonType="ButtonType.Button" Click="AddOrderEntry" Icon="add" Text="Add to Order"/>
                </div>

                <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                    <RadzenButton class="formButton" ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                </div>
            </RadzenFieldset>
        </div>
    </div>
</RadzenTemplateForm>


<RadzenDataGrid @ref="_orderEntryGrid" Data="@_orderEntries" TItem="OrderEntry" AllowFiltering="true" FilterMode="FilterMode.Simple"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="true" PageSize="15" AllowPaging="true" AllowColumnResize="true"
                ShowPagingSummary="@showPagerSummary" PagingSummaryFormat="@pagingSummaryFormat">
    <Columns>
        <RadzenDataGridColumn TItem="OrderEntry" Property="Item.ItemName" Title="Item name" SortOrder="SortOrder.Ascending"/>
        <RadzenDataGridColumn TItem="OrderEntry" Property="Amount" Title="Amount"/>
    </Columns>
</RadzenDataGrid>

<p>@testString</p>